# binaries
isodir/
diskroot/
initrdroot/
out/
*.iso
*.o

# other
.vscode/
todo.txt
.cache/
*.zip

# claude
.claude/
CLAUDE.md

# compile commands
compile_commands.json
compile_commands.tmp

# musl test binaries
test/*
!test/*.c
!test/README.md
