# binaries
isodir/
diskroot/
initrdroot/
out/
*.iso
*.o

# other
.vscode/
todo.txt
.cache/
*.zip

# compile commands
compile_commands.json
compile_commands.tmp

# musl test binaries
testbins/*
!testbins/*.c
!testbins/README.md
